<p><%= erb :"_errors" %></p>

<form action='/login' method='post'>Log in
  <input type='text' name='email' placeholder="email">
  <input type='password' name='password' placeholder="password">
  <input type="submit" value="Let me in!!">
</form>
<a href='/users/new'>I don't have an account</a>