<div><%= erb :"_errors" %></div>

<form action='/users' method='post'>create new profile
  <input type='text' name='user[user_name]' placeholder='full name'>
  <input type='text' name='user[email]' placeholder='email'>
  <input type='password' name='user[password]' placeholder='password'>
  <input type="submit" value="Let me in!!">
</form>