
<div>Hello <%= @user.user_name %>, welcome to the bulb!
<a href="/locations">what locations can I look at?</a>

<form action='/logout' method='post'>
  <input type="hidden" name="_method" value="delete">
  <input type='submit' value='Log me out!'>
</form>