<div id='location_1'>
  <form method="get" action="/locations/<%= locations.first.id %>">
    <input class='button' type="submit" value="Amphatheater">
  </form>
</div>
<div id='location_2'>
  <form>
    <input class='button' type="submit" value="Sculpture Cove">
  </form>
</div>
<div id='location_3'>
  <form>
    <input class='button' type="submit" value="Castle">
  </form>
</div>
<div id='location_4'>
  <form>
    <input class='button' type="submit" value="Lagoon">
  </form>
</div>
