<p><%= erb :"_errors" %></p>

<!-- <form action='/login' method='post'>Log in
  <input type='text' name='email' placeholder="email">
  <input type='password' name='password' placeholder="password">
  <input type="submit" value="Let me in!!">
</form> -->
<!-- <a href='/users/new'>I don't have an account</a> -->

<div id='location_1'>
  <form>
    <input class='button' type="submit" value="Amphatheater">
  </form>
</div>
<div id='location_2'>
  <form>
    <input class='button' type="submit" value="Sculpture Cove">
  </form>
</div>
<div id='location_3'>
  <form>
    <input class='button' type="submit" value="Castle">
  </form>
</div>
<div id='location_4'>
  <form>
    <input class='button' type="submit" value="Lagoon">
  </form>
</div>


